.btn-xsm {
    padding: 0.2rem 0.2rem;
    font-size: 14px;
}

#statusarea {
    font-size: 10px;
    color: rgb(255, 255, 159);
    background-color: rgb(47, 47, 111);
    width: 100%;
}

#currentimagetitle {
    color: rgb(255, 255, 159);
}

canvas {
    width: 100%;
    height: 100%;
}

#cdiv,
#navi {
    width: 50%;
    height: 800px;
    position: absolute;
    float: left;
    float: bottom;
    top: 20;
    left: 0;
    font-size: 6px;
}

#navi {
    z-index: 10;
}

#threedcdiv {
    width: 300px;
    height: 300px;
    position: left;
    float: left;
    left: 51%;
}

.color-nav {
    background-color: rgb(141, 171, 255);
}